@using MvcCV.Models.Entity;
@model TBLEducation
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 p-5">
    <h2>Add Eucation</h2>
    <form method="post">
        <label>School Name</label>
        <input type="text" name="Title" placeholder="Enter a School Name" class="form-control" required />
        @Html.ValidationMessageFor(model => model.Title, "", new { @style = "color:red" })
        <br />
        <label>Departmant Name</label>
        <input type="text" name="Subtitle" placeholder="Enter a Departmant" class="form-control" required />
        @Html.ValidationMessageFor(model => model.Title, "", new { @style = "color:red" })
        <br />
        <label>Description</label>
        <input type="text" name="OptionalSubtitle" placeholder="Enter a Description" class="form-control" required />
        <br />
        <label>Gpa</label>
        <input type="number" name="Gpa" placeholder="Enter a Gpa" class="form-control" rows="5" required />
        @Html.ValidationMessageFor(model => model.Title, "", new { @style = "color:red" })
        <br />
        <label>Date</label>
        <input type="text" name="Date" placeholder="Enter a Date Period" class="form-control" required />
        @Html.ValidationMessageFor(model => model.Title, "", new { @style = "color:red" })
        <br />
        <button class="btn btn-success">Save</button>
    </form>
</div>